html {
  font-size: 62.5% !important;
  /* 10px browser default */
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.editor-styles-wrapper {

  a,
  a:before,
  a:after,
  button,
  input:focus,
  input[type="button"],
  input[type="reset"],
  input[type="submit"],
  textarea:focus,
  .button,
  .wp-element-button,
  .wp-block-button__link {
    transition: all 0.3s ease-in-out;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    --wp--preset--font-size--small: 2.8rem;
    --wp--preset--font-size--medium: clamp(2.4rem, 6vw, 4rem);
    --wp--preset--font-size--large: clamp(2.8rem, 5vw, 7rem);
    --wp--preset--font-size--x-large: clamp(4rem, 5vw, 9rem);
    --wp--preset--font-size--xx-large: clamp(6rem, 5vw, 12rem);
  }

  .is-style-arrow-link,
  .is-style-arrow-link-light {
  
    .wp-element-button,
    .wp-block-button__link {
      display: flex;
      gap: 10px;
      padding: 0 !important;
      border: none !important;
      color: var(--wp--preset--color--pt-teal);
  
      &:hover,
      &:focus {
        background: transparent;
        color: var(--wp--preset--color--pt-blue);
        transform: translateX(5px);
        text-decoration: none;
        box-shadow: none;

      }
    }
  }
  
  .is-style-arrow-link-light {
  
    .wp-element-button,
    .wp-block-button__link {
      color: var(--wp--preset--color--pt-light-teal);
  
      &:after {
        background: var(--wp--preset--color--pt-light-teal);
      }
    }
  
  }
  
  .is-style-slant-right,
  .is-style-slant-left {
    position: relative;
    overflow: hidden;
    
    & > * {
      position: relative;
      display: block;
      z-index: 0;
    }
    
    figure,
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    
    img {
      filter: grayscale(1);
    }
    
    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: inherit;
      opacity: .5;
      z-index: 1;
    }
    
  }
  
  .is-style-slant-left {
    margin: 0 0 0 -10% !important;
    aspect-ratio: unset;
    clip-path: polygon(0% 0%, 75% 0%, 100% 100%, 0% 100%);
  }
  
  .is-style-slant-right {
    margin: 0 -10% 0 0 !important;
    aspect-ratio: unset;
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 0% 100%);
  }
  
  .value ul {
    margin: 0 !important;
    padding: 0 !important;
    list-style: none;
    
    li:before {
      display: none !important;
    }
  }
}