/* Large Tablet / Small Desktop Styles
---------------------------------------------------------------------------------------------------- */

@media (min-width: 1024px) {

   /* Containers & General Styles
    --------------------------------------------- */

   /* Header
    --------------------------------------------- */
    
   .menu-toggle,
   .mobile-nav {
      display: none;
   }

   .menu-item a,
   .menu-item .linkless {
      text-align: center;
      white-space: nowrap;
      font-size: var(--wp--preset--font-size--small);
      padding: 5px var(--wp--preset--spacing--20);
   }
   
   .menu-cta a,
   .menu-cta .linkless {
      padding: 5px var(--wp--preset--spacing--30);
   }

   .nav-primary {
      position: relative;
      margin: 0;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding-left: var(--wp--preset--spacing--20);

      .wrap {
         width: auto;
         max-width: 100%;
         margin: 0 calc(-1 * var(--wp--preset--spacing--20)) 0 0;
      }
   }
   
   .nav-primary,
   .nav-secondary {
      .genesis-nav-menu {
         margin: 0;
         padding: 0;
         list-style: none;
         display: flex;
         gap: 5px;
         align-items: center;
         justify-content: flex-end;
      
         >li {
            position: relative;
            display: inline-block;
            margin-top: 3px;
      
            &:after {
               content: '';
               display: block;
               position: relative;
               bottom: 0;
               margin: 0 auto;
               width: 100%;
               max-width: 0px;
               height: 2px;
               background: var(--wp--preset--color--pt-blue);
               transition: all .3s ease-in-out;
            }
      
            &:hover:after,
            &:focus-within:after {
               max-width: 100%;
            }
            
            &.menu-cta {
               margin-top: 0;
               padding-left: var(--wp--preset--spacing--20);
               
               &:after {
                  display: none;
               }
               
            }
      
         }
      
         .sub-menu {
            position: absolute;
            top: 100%;
            left: 0;
            width: 275px;
            max-height: 0px;
            visibility: hidden;
            padding: 0;
            background: var(--wp--preset--color--pt-alt-blue);
            transition: all 0s ease-in-out;
            box-shadow: 0px 5px 10px rgba(0, 0, 0, .15);
            z-index: 1000;
      
            li {
               display: block;
               position: relative;
               visibility: hidden;
               opacity: 0;
               transition: all 0s ease-in-out;
            }
      
            a,
            .linkless {
               white-space: normal;
               text-align: left;
               font-size: clamp(1rem, 3vw, 1.2rem);
               padding: 10px 20px 10px 10px;
      
               &:hover,
               &:focus {
                  transform: translateX(5px);
               }
            }
      
           .sub-menu {
              position: absolute;
              top: 0;
              left: 100%;
            }
         }
         
         li:last-of-type > .sub-menu {
            left: unset;
            right: 0;
         }
      
         li:hover>.sub-menu,
         li:focus>.sub-menu,
         li:focus-within>.sub-menu {
            display: block;
            max-height: 100vh;
            visibility: visible;
            transition: all 1s ease-in-out;
            
            & > li {
               visibility:visible;
               opacity: 1;
               transition: all .2s .2s ease-in-out;
            }
         }
      }
   }
   
      
   .nav-secondary {
      position: relative;
      display: block;
      margin: 0;
      background: rgba(17, 40, 76, 0.9);
      padding: var(--wp--preset--spacing--20) 0;
      transform: none;
      transform-origin: top center;
      overflow: unset;
      transition: all .3s ease-in-out, top 0s, transform 0s;
      z-index: 2000;
      
      .genesis-nav-menu {
         justify-content: space-between;
         margin: 0 calc(-1 * var(--wp--preset--spacing--20));
      }
   }
   
   .home .header-wrap:not(.header-wrap--sticky) {
      
      &:before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            height: 100vh;
            width: 200vw;
            right: 75%;
            background: var(--wp--preset--color--pt-blue);
            transform: skew(20deg);
            transform-origin: top left;
            z-index: 0;
      }
      
      &:after {
         content: '';
         display: block;
         position: absolute;
         top: 0;
         left: 25%;
         width: 75%;
         height: 100px;
         background: var(--wp--preset--color--pt-alt-blue);
         transform: skew(20deg);
         transform-origin: top left;
         opacity: .9;
         z-index: 2;
      }
      
      .nav-secondary {
         position: absolute;
         top: 100vh;
         left: 0;
         width: 100%;
         transform: translateY(-100%);
      }
      
      .home-header-util {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        padding: 0 5%;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-image:url('images/scale.svg');
        background-position: bottom left;
        background-size: contain;
        background-repeat: no-repeat;
        z-index: 1;
      }
   }
   
   .is-style-home-header {
      min-height: 100vh !important;
      aspect-ratio: unset !important;
      
      &:before,
      &:after {
         display: none;
      }
   }
   
   /* Body
   --------------------------------------------- */

   .content-sidebar,
   .sidebar-content {

      .content-sidebar-wrap {
         display: flex;
         justify-content: space-between;
         gap: var(--wp--preset--spacing--60);
      }

      .content {
         flex-basis: 70%;
         max-width: unset;
         margin: 0;
      }

      .sidebar {
         flex-basis: 30%;
      }
   }

   .sidebar-content .content-sidebar-wrap {
      flex-direction: row-reverse;
   }


   .full-width-content {

      .content {
         margin: 0 auto;
      }

   }

   /* Comments */

   .comment {
      padding: var(--wp--preset--spacing--30);
   }


   /* Footer
    --------------------------------------------- */


}