/* Small Tablet / Large Phone Styles
---------------------------------------------------------------------------------------------------- */

@media (min-width: 600px) {

    .admin-bar .header-wrap--sticky,
    .admin-bar.fixed-scroll .header-wrap,
    .home .header-wrap:not(.header-wrap--sticky) {
        top: var(--wp-admin--admin-bar--height) !important;
    }
}

@media (min-width: 780px) {

    /* Containers & General Styles
    --------------------------------------------- */

    /* Header
    --------------------------------------------- */

    /* Body
    --------------------------------------------- */
    
    .is-style-slant-right {
        margin: 0 -10% 0 0 !important;
        clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 0% 100%);
    }


    /* Footer
    --------------------------------------------- */

    .site-credits .dev {
        display: inline-block;

        &:before {
            content: '|';
            display: inline-block;
            margin: 0 5px 0 3px;
        }
    }

}